*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
}
h1{
    color: antiquewhite;
    height: 20vh;
    background-color: rgb(35, 35, 208);
    line-height: 20vh;
}
.choice{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    align-items: center;
    gap: 2rem;
}
.rock,.paper,.scissors{
    height:22vmin;
    width: 22vmin;
    /* padding: 0vmin 7vmin; */
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
img{
    height:20vmin;
    width: 20vmin;
    border-radius: 50%;
    object-fit: cover;
}
.score{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.you,.comp{
    font-size: 2rem;
}
.your-score,.comp-score{
    font-size: 4rem;
}
.msg-container{
    justify-content: center;
    display: flex;
}
.rock:hover,.paper:hover,.scissors:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: black;
}
.msg{
    background-color: blue;
    color: whitesmoke;
    font-size: 2rem;
    height: 4rem;
    width: 80vmin;
    text-align: center;
    line-height: 4rem;
    border-radius: 2rem;
    margin-top: 2rem;
}